package main

import "fmt"

var Main TestPlugin

type TestPlugin struct {
}

func (p *TestPlugin) Process(packetPayload []byte) ([]byte, error) {
	// plugin goes here
    return packetPayload, nil;
}

/*
 Запуск: 
    $ go run main.go
*/

func main() {
    plugin := TestPlugin{};

    testData := "{{.Payload}}"
    
    payload, err := base64.StdEncoding.DecodeString(testData)
	if err != nil {
		fmt.Println(err)
        return
	}
    
    res, err := plugin.Process(payload)
    if err != nil {
        fmt.Printf("Error while processing test data:" %v, err)
        return;
    }
    fmt.Println(string(res));
}